@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap');

* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

body {
  font-family: Montserrat;
}

.image {
  width: 100%;
}

.image img {
  width: 100%;
}

.navbar {
  background-color: rgb(244, 244, 244);
  display: flex;
  height: 70px;
  align-items: center;
  justify-content: space-around;
}

.navbar .logo {
  width: 78px;
  height: 90px;
}

.navbar .logo img {
  width: 78px;
  height: 90px;
}

.navbar .list1 {
  margin-left: 40px;
  display: flex;
  gap: 2em;
  list-style-type: none;
}

.navbar .list2 {
  margin-right: 40px;
  display: flex;
  gap: 2em;
  list-style-type: none;
}

a {
  color: rgb(20, 20, 20);
  text-decoration: none;
}

a:hover {
  color: grey;
}

header {
  width: 100%;
  height: 700px;
}

header h1 {
  text-align: center;
  margin-top: 200px;
  font-size: 40px;
}

header p {
  margin-top: 50px;
  text-align: center;
}

header .fa-minus {
  display: flex;
  justify-self: center;
  margin-top: 20px;
}
.block {
  margin-top: 200px;
  display: flex;
  justify-content: space-around;
}

.block-item {

  display: flex;
  flex-direction: column;
  align-items: center;

}

i {
  font-size: 30px;
}

.mainbar {
  height: 600px;
  display: flex;
  flex-wrap: wrap;
}

aside {
  color: white;
  width: 400px;
  background-color: rgb(22, 22, 34);
  text-align: center;
  padding-left: 50px;
  padding-top: 50px;
}

aside h2 {
  margin-top: 100px;
}

aside p {
  margin-top: 50px;
}

aside button {
  color: white;
  font-weight: bold;
  margin-top: 60px;
  height: 50px;
  width: 150px;
  background: grey;
  border-radius: 20px;
  border-color: transparent;
  box-shadow: 0 3px 5px rgba(0, 0, 0, 0.6);
}

#button:hover {
  background-color: rgb(86, 86, 87);
  color: rgb(255, 255, 255);
}

.photos {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  padding-top: 70px;
  padding-left: 140px;
  background-color: rgb(22, 22, 34);
  width: 73.69%;
}

.photos img {

  height: 150px;
  width: 150px;
}