@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap');

* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

body {
  font-family: Montserrat;
}

.image {
  width: 100%;
}

.image img {
  width: 100%;
}

.navbar {
  background-color: rgb(244, 244, 244);
  display: flex;
  height: 70px;
  align-items: center;
  justify-content: space-around;
}

.navbar .logo {
  width: 78px;
  height: 90px;
}

.navbar .logo img {
  width: 78px;
  height: 90px;
}

.navbar .list1 {
  margin-left: 40px;
  display: flex;
  gap: 2em;
  list-style-type: none;
}

.navbar .list2 {
  margin-right: 40px;
  display: flex;
  gap: 2em;
  list-style-type: none;
}

a {
  color: rgb(20, 20, 20);
  text-decoration: none;
}

a:hover {
  color: grey;
}

header {
  width: 100%;
  height: 600px;
}

header h1 {
  text-align: center;
  margin-top: 200px;
}

header p {
  margin-top: 100px;
  text-align: center;
}

i {
  margin-bottom: 30px;
}
.block {
  margin-top: 200px;
  display: flex;
  justify-content: space-around;
}

.mainbar {
  height: 600px;
  display: flex;
  flex-wrap: wrap;
}

aside {
  color: white;
  width: 400px;
  background-color: rgb(22, 22, 34);
  text-align: center;
  padding: 50px;
}

aside h2 {
  margin-top: 100px;
}

aside p {
  margin-top: 50px;
}

aside button {
  color: white;
  font-weight: bold;
  margin-top: 60px;
  height: 50px;
  width: 150px;
  background: grey;
  border-radius: 5%;
  border-color: transparent;
  box-shadow: 0 3px 5px rgba(0, 0, 0, 0.6);
}

.photos {

  background-color: rgb(22, 22, 34);
  width: 73.69%;
}

.photos img {
  height: 100px;
  width: 100px;
}